torch==2.6.0
transformers==4.52.4
triton==3.2.0
plotly
codetiming
kaleido
addict
tavily-python
pandas
scikit-learn
vllm
matplotlib
seaborn
datasets
langid
ujson
openai
fastchat
psutil
accelerate
nltk
spacy